In [1]:
import pandas as pd
from pathlib import Path

In [3]:
results_df = pd.concat([pd.read_csv(f) for f in Path("results").glob("*.csv")], ignore_index=True)
results_df

,index_backend,dataset_name,Index construction memory [MB],Index construction time [s],Recall @ 1 mean,Recall @ 1 std,Recall @ 10 mean,Recall @ 10 std,Query time mean [s],Query time std [s],index_kwargs
0,pynndescent,GeMS_A1_DreaMS_rand50k,1386.875000,8.537611,0.587,0.492373,0.5279,0.345618,0.005078,0.158421,{'k': 10}
1,pynndescent,GeMS_A1_DreaMS_rand50k,1765.484375,29.316459,0.968,0.176000,0.9385,0.095644,0.009887,0.306668,{'k': 100}